@font-face {
  font-family: BegumSans;
  src: url("../font/BegumSans-Regular.ttf") format('truetype'),
    url("../font/BegumSans-Regular.woff") format('woff'),
    url("../font/BegumSans-Regular.woff2") format('woff2'),
    url("../font/BegumSans-Regular.eot") format('eot');
  font-style: normal;
  font-weight: normal;
  
}
.ck {
    margin-left: 6.8vw;
    margin-top: 0vw;
}
.text_center {
    font-family: 'BegumSans';
    font-size: 1.4vw;
    text-align: left;
    margin-top: -3.5vw;
    margin-left: 12vw;
    padding-bottom: 1vw;
    color: #808080;
    
}
/* 
.text2 {

    font-family: 'BegumSans-light';
    font-size: 22px;
    margin-top: 30px;
    margin-left: 20px;
    color: #000;
    text-align: left;
} */

#tx3{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
    color: #808080;
}
.center_text{
    font-family: 'BegumSans';
    font-size: 1.3vw;
    text-align: left;
    margin-top: 0px;
    margin-left: 12vw;
    padding-bottom: 1.2vw;
  }
  #tx4{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
    color: #808080;
  }

  #icon{
    margin-top: 8vw;
    margin-left: -8.5vw;
    border-radius: 0.5vw;
    background: #f2f5f7;
    border-width: 0vw;
  }
  

  @media screen and (max-width: 800px) {
    .ck {
      margin-top: -10vw;
      margin-left: 8vw;
  }
  .text_center {
      font-family: 'BegumSans';
      font-size: 5vw;
      text-align: center;
      margin-top: -17vw;
      margin-left: 8vw;
      padding-bottom: 20px;
      color: #808080;
      
  }
  #tx3{
      margin-top: -20px;
      font-family: 'BegumSans';
      color: #808080;
  }

  .center_text{
    font-family: 'BegumSans';
    font-size: 4.5vw;
    text-align: left;
    margin-top: -5vw;
    margin-left: 15vw;
    padding-bottom: 20px;
    }
    #tx4{
      margin-top: -20px;
      font-family: 'BegumSans';
      color: #808080;
    }
  
    #icon{
      margin-top: -50vw;
      margin-left: 51vw;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
    
  }