@font-face {
  font-family: BegumSans;
  src: url("../font/BegumSans-Regular.ttf") format('truetype'),
   url("../font/BegumSans-Regular.woff") format('woff'),
   url("../font/BegumSans-Regular.woff2") format('woff2'),
   url("../font/BegumSans-Regular.eot") format('eot');
  
}
.pic4{
  margin-left: 5vw;
  margin-top: 0vw;
}
.pic5{
  margin-left: 30vw;
  margin-top: -21.6vw;
}

#icon1{
  margin-top: 8vw;
  margin-left: -9vw;
  border-radius: 0.5vw;
  background: white;
  border-width: 0vw;
}

#icon2{
  margin-top: 8vw;
  margin-left: -9vw;
  border-radius: 0.5vw;
  background: white;
  border-width: 0vw;
}


.text_data{
  font-family: 'BegumSans';
  font-size: 1.4vw;
  text-align: left;
  margin-top: -3.5vw;
  margin-left: 10vw;
  padding-bottom: 1vw;
  color: #808080;
}
#tx1{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
    color: #808080;
}

.text_data1{
  font-family: 'BegumSans';
  font-size: 1.4vw;
  text-align: left;
  margin-top: -3.5vw;
  margin-left: 34vw;
  padding-bottom: 1vw;
  color: #808080;
}
#tx2{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
    color: #808080;
}

.left_text{
  font-family: 'BegumSans';
  font-size: 1.3vw;
  text-align: left;
  margin-top: 0vw;
  margin-left: 10vw;
  padding-bottom: 1.2vw;
}
#tx3{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
    color: #808080;
}

.right_text{
  font-family: 'BegumSans';
  font-size: 1.3vw;
  text-align: left;
  margin-top: -15vw;
  margin-left: 34vw;
  padding-bottom: 1.2vw;
}
#tx4{
    margin-top: -1.5vw;
    font-family: 'BegumSans';
}
  @media screen and (max-width: 800px) {
    .pic4{
      margin-left: 8vw;
      margin-top: -5vw;
    }
    .pic5{
      margin-left: 8vw;
      margin-top: 45vw;
    }
  
    #icon1{
      margin-top: -50vw;
      margin-left: 51vw;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
  
    #icon2{
      margin-top: -50vw;
      margin-left: 51vw;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
  
  
    .text_data{
      font-family: 'BegumSans';
      font-size: 5vw;
      text-align: center;
      margin-top: -15vw;
      margin-left: 8vw;
      padding-bottom: 20px;
    }
    #tx1{
        margin-top: -20px;
        font-family: 'BegumSans';
        color: #808080;
    }
    .left_text{
      font-family: 'BegumSans';
      font-size: 5vw;
      text-align: left;
      margin-top: -135vw;
      margin-left: 18vw;
      padding-bottom: 20px;
    }
    #tx3{
        margin-top: -20px;
        font-family: 'BegumSans';
    }  




    .text_data1{
      font-family: 'BegumSans';
      font-size: 5vw;
      text-align: center;
      margin-top: -15vw;
      margin-left: 8vw;
      padding-bottom: 20px;
    }
    #tx2{
        margin-top: -20px;
        font-family: 'BegumSans';
    }
    .right_text{
      font-family: 'BegumSans';
      font-size: 5vw;
      text-align: left;
      margin-top: 75vw;
      margin-left: 15vw;
      padding-bottom: 20px;
    }
    #tx4{
        margin-top: -20px;
        font-family: 'BegumSans';
        margin-bottom: 300px;
    }
  
  }


  @media screen and (min-device-width: 1040px) and (max-device-width: 1300px) { 

    .pic4{
      margin-left: 5vw;
      margin-top: -3vw;
      width: auto;
    }
    .pic5{
      margin-left: 30vw;
      margin-top: -25vw;
    }
  
    #icon1{
      margin-top: 8vw;
      margin-left: -9.5vw;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
  
    #icon2{
      margin-top: 8vw;
      margin-left: -9.5vw;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
  
  
    .text_data{
      font-family: 'BegumSans';
      font-size: 1.6vw;
      text-align: center;
      margin-top: -4.5vw;
      margin-left: -26vw;
      padding-bottom: 1vw;
    }
    #tx1{
        margin-top: -2vw;
        font-family: 'BegumSans';
        color: #808080;
        margin-left: -1vw;
    }
    .left_text{
      font-family: 'BegumSans';
      font-size: 1.3vw;
      text-align: left;
      margin-top: -2vw;
      margin-left: 10vw;
      padding-bottom: 1vw;
    }
    #tx3{
        margin-top: -2vw;
        font-family: 'BegumSans';
    }  




    .text_data1{
      font-family: 'BegumSans';
      font-size: 1.6vw;
      text-align: center;
      margin-top: -4.5vw;
      margin-left: 28.5vw;
      padding-bottom: 1vw;
    }
    #tx2{
        margin-top: -1.8vw;
        font-family: 'BegumSans';
        margin-left: 5.6vw;
        text-align: left;
    }
    .right_text{
      font-family: 'BegumSans';
      font-size: 1.3vw;
      text-align: left;
      margin-top: -15vw;
      margin-left: 34vw;
      padding-bottom: 1vw;
    }
    #tx4{
        margin-top: 0vw;
        font-family: 'BegumSans';
    }
  }