@font-face {
  font-family: BegumSans;
  src: url("../font/BegumSans-Regular.ttf") format('truetype'),
    url("../font/BegumSans-Regular.woff") format('woff'),
    url("../font/BegumSans-Regular.woff2") format('woff2'),
    url("../font/BegumSans-Regular.eot") format('eot');
  font-style: normal;
  font-weight: normal;
  
}
.ck {
    margin-left: 100px;
}
.text_center {
    font-family: 'BegumSans';
    font-size: 20px;
    text-align: left;
    margin-top: -50px;
    margin-left: 160px;
    padding-bottom: 20px;
    color: #808080;
    
}
/* 
.text2 {

    font-family: 'BegumSans-light';
    font-size: 22px;
    margin-top: 30px;
    margin-left: 20px;
    color: #000;
    text-align: left;
} */

#tx3{
    margin-top: -20px;
    font-family: 'BegumSans';
    color: #808080;
}
.center_text{
    font-family: 'BegumSans';
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-left: 160px;
    padding-bottom: 20px;
  }
  #tx4{
    margin-top: -20px;
    font-family: 'BegumSans';
    color: #808080;
  }

  #icon{
    margin-top: 125px;
    margin-left: -135px;
    border-radius: 5px;
    background: #f2f5f7;
    border-width: -15px;
  }
  

  @media screen and (max-width: 400px) {
    .ck {
      margin-top: -30px;
      margin-left: 10px;
  }
  .text_center {
      font-family: 'BegumSans';
      font-size: 19px;
      text-align: center;
      margin-top: -70px;
      margin-left: 30px;
      padding-bottom: 20px;
      color: #808080;
      
  }
  #tx3{
      margin-top: -20px;
      font-family: 'BegumSans';
      color: #808080;
  }

  .center_text{
    font-family: 'BegumSans';
    font-size: 19px;
    text-align: left;
    margin-top: 10px;
    margin-left: 55px;
    padding-bottom: 20px;
    }
    #tx4{
      margin-top: -20px;
      font-family: 'BegumSans';
      color: #808080;
    }
  
    #icon{
      margin-top: -200px;
      margin-left: 215px;
      border-radius: 5px;
      background: white;
      border-width: -15px;
    }
    
  }