@font-face {
  font-family: Begumsans;
  src: url("../font/BegumSans-Regular.ttf") format('truetype');
  src: url("../font/BegumSans-Regular.woff") format('woff');
  src: url("../font/BegumSans-Regular.woff2") format('woff2');
  src: url("../font/BegumSans-Regular.eot") format('eot');
  font-style: normal;
  font-weight: normal;
  
}
@font-face {
  font-family: Begumsans-light;
  src: url("../font/BegumSans-Light.ttf") format('truetype');
  src: url("../font/BegumSans-Light.woff") format('woff');
  src: url("../font/BegumSans-Light.woff2") format('woff2');
  src: url("../font/BegumSans-Light.eot") format('eot');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Begumsans-medium;
  src: url("../font/BegumSans-Medium.ttf") format('truetype');
  src: url("../font/BegumSans-Medium.woff") format('woff');
  src: url("../font/BegumSans-Medium.woff2") format('woff2');
  src: url("../font/BegumSans-Medium.eot") format('eot');
  font-style: normal;
  font-weight: normal;
}
.third_text{
    margin-top: 60px;
    margin-left: 60px;
    font-family: 'Begumsans';
    font-size: 28px;
    font-style: bolder;
    font-weight: 600;
  }
  
  .thrid_info{
      font-family: 'Begumsans';
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 180px;
    padding-bottom: 20px;
  }
  
  #tp1{
      font-family: 'Begumsans';
    font-size: 20px;
    text-align: left;
    margin-top: 80px;
    margin-left: 40px;
  }
  
  #tp2{
      font-family: 'Begumsans';
    font-size: 20px;
    text-align: left;
    margin-top: 45px;
    margin-left: 40px;
  }
  
  #tp3{
      font-family: 'Begumsans';
      font-size: 20px;
      text-align: left;
      margin-top: 45px;
      padding-bottom: 20px;
      margin-left: 40px;
  }
  
  .pic6{
      margin-top: -320px;
      margin-left: 100px;
    }
  
.pic7{
      margin-top: -25px;
      margin-left: 100px;
    }
  
.pic8{
      margin-top: -25px;
  margin-left: 100px;
}

.socal_icon1{
    margin-top: 80px;
    margin-left: 160px;
}
.socal_icon2{
    margin-top: -30px;
    margin-left: 230px;
}
.socal_icon3{
    margin-top: -30px;
    margin-left: 300px;
}
.socal_icon4{
    margin-top: -30px;
    margin-left: 370px;
}
.socal_icon5{
    margin-top: -30px;
    margin-left: 440px;
}


@media screen and (max-width: 800px) {
  
  .third_text{
    max-width: 100%;
    margin-top: 20vw;
    margin-left: 9vw;
    font-family: 'Begumsans';
    font-size: 7vw;
    font-style: bolder;
    text-align: center;
    font-weight: 600;
  }
  
  .thrid_info{
      font-family: 'Begumsans';
    font-size: 20px;
    text-align: left;
    margin-top: 10vw;
    margin-left: 35vw;
    padding-bottom: 0px;
  }
  
  #tp1{
    font-family: 'Begumsans';
    font-size: 5vw;
    text-align: left;
    margin-top: 10vw;
    margin-left: -20px;
  }
  
  #tp2{
      font-family: 'Begumsans';
      font-size: 5vw;
      text-align: left;
      margin-top: 7vw;
      margin-left: -20px;
  }
  
  #tp3{
      font-family: 'Begumsans';
      font-size: 5vw;
      text-align: left;
      margin-top: 7vw;
      margin-left: -20px;
  }
  
  .pic6{
      margin-top: -73vw;
      margin-left: 7vw;
    }
  
.pic7{
      margin-top: -10vw;
      margin-left: 7vw;
    }
  
.pic8{
  margin-top: -5vw;
  margin-left: 7vw;
}

.socal_icon1{
    margin-top: 80px;
    margin-left: 70px;
}
.socal_icon2{
    margin-top: -30px;
    margin-left: 130px;
}
.socal_icon3{
    margin-top: -30px;
    margin-left: 190px;
}
.socal_icon4{
    margin-top: -30px;
    margin-left: 250px;
}
.socal_icon5{
    margin-top: -30px;
    margin-left: 310px;
}


}