.third_text{
    margin-top: 140px;
    margin-left: 60px;
    font-family: 'Begum sans';
    font-size: 28px;
    font-style: bolder;
    font-weight: 600;
  }
  
  .thrid_info{
      font-family: 'Begum sans';
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 180px;
    padding-bottom: 20px;
  }
  
  #tp1{
      font-family: 'Begum sans regular';
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
  }
  
  #tp2{
      font-family: 'Begum sans regular';
    font-size: 20px;
    text-align: left;
    margin-top: 35px;
    margin-left: 40px;
  }
  
  #tp3{
      font-family: 'Begum sans regular';
      font-size: 20px;
      text-align: left;
      margin-top: 35px;
      padding-bottom: 20px;
      margin-left: 40px;
  }
  
  .pic6{
      margin-top: -300px;
      margin-left: 100px;
    }
  
.pic7{
      margin-top: -35px;
      margin-left: 100px;
    }
  
.pic8{
      margin-top: -35px;
  margin-left: 100px;
}

.socal_icon1{
    margin-top: 80px;
    margin-left: 160px;
}
.socal_icon2{
    margin-top: -30px;
    margin-left: 230px;
}
.socal_icon3{
    margin-top: -30px;
    margin-left: 300px;
}
.socal_icon4{
    margin-top: -30px;
    margin-left: 370px;
}
.socal_icon5{
    margin-top: -30px;
    margin-left: 440px;
}
