form {
    max-width: 550px;
    margin: 0 auto;
    font-family: 'Begum sans-regular';
  }
  
  h1 {
    font-weight: 100;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  p1 {
    color: #bf1650;
    font-family: 'Begum sans light';
    font-size: 10px;
    margin-top: -5px;
    padding: -10px;
  }
  
  p1::before {
    /* display: inline-block;
    content: "*Required"; */
    margin-top: -5px;
    padding: -50px;
  }
  
  input {
    background: transparent;
    border: 1px solid black;
    width: 90%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: -10px -5px;
    margin-bottom: 10px;
    font-size: 18px;

  }
  
  label {
    line-height: 2;
    text-align: left;
    display: block;
    /* margin-bottom: -13px; */
    margin-top: 10px;
    color: black;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Begum sans regular';
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #f4c264;
    color: black;
    /* text-transform: uppercase; */
    border: none;
    margin-top: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: 50;
    /* letter-spacing: 10px; */
    font-family: 'Begum sans-medium';
    border-radius: 5px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #f4c264;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  /* .App {
    max-width: 600px;
    margin: 0 auto;
  } */
  
  button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: black;
    border: none;
    /* text-transform: uppercase; */
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    padding: 10px 20px;
    border-radius: 4px;
  }

  .required:before {
    content:"* ";
    color: red;
  }

  select {
    border: 1px solid #000;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    width: 60%;
    font-size: 18px;
    font-family: 'Begum sans-regular';
  }

  .last_text {
    font-family: 'Begum sans';
    font-size: 9px;
    text-align: left;
    margin-top: 10px;
    margin-left: 0px;
    padding-bottom: 20px;
    color: #808080;
  }

  .row {
    margin-left: -13px;
  }

  .col-sm-5 {
    width: 50%;
    bottom: 0%;
    height: 15vh;
    overflow-y: auto;
    background-color: white;
  }

  #designation {
    width: 80%;
  }