/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media screen and (max-width: 600px) {
  .col-sm-8 {
    width: 100%;
  }
  .col-sm-4 {
    width: 100%;
    background-color: aqua;
  }
}


/* .left {
  width: 75%;
}

.right {
  width: 25%;
  background-color: #f2f5f793;
} */
.col-sm-8 {
  width: 60%;
  bottom: 0%;
  height: 94vh;
  overflow-y: auto;
  background-color: white;
}

.col-sm-8 #hr {
  margin-bottom: 100px;
  
}

.col-sm-4 {
  width: 40%;
  /* background-color:#f2f5f7; */
  bottom: 0%;
  height: 94vh;
  overflow-y: auto;
  
}
.container-fluid {
  padding-left: 0%;
  height: 94vh;
  overflow-y: auto; 
  
}
.row {
  margin: auto;
}
#t2 {
  font-family: 'Begum sans';
  font-size: 28px;
  text-align: right;
  margin-top: 70px;
}
#t3 {
  font-family: 'Begum sans';
  font-size: 28px;
  text-align: right;
  margin-top: -20px;
}
#t4 {
  font-family: 'Begum sans';
  font-size: 28px;
  text-align: right;
  margin-top: -20px;
  padding-bottom: 20px;
}


.button {
  background-color: #f4c264;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 2px ;
  cursor: pointer;
  border-radius: 28px;
  font-family: 'Begum sans';
  font-style: bolder;
  font-weight: 600;
  font-size: 16px;
  width: fit-content;
  place-items: right;
}